extends layout
//- data dostarczona z modelu church
block content
  link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet")
  form(method='post')
    button(type='submit' class='logout-btn') Wyloguj
  h1(class="table-heading") E-Taca
  p(class="church-desc alert alert-success") Ojciec Patryk bardzo chętnie dostarczy Ci bazę, jednak wymaga to pewnego datku na e-tacę. Wpisz proszę jaki powiat Cię interesuje a także napisz swoje imię - o anonimowy darczyńco.
    span  Ojciec Patryk bierze co łaska, ale nie mniej niż 500zł - płatność kartą.
  .church-wrap
    div(class="church-todo")
      table(class="table table-hover table-dark")
        th Utworzone
        th Powiat
        th Darczyńca
        th Akcje
        each target in data
         tr(class=target.working)
           td=target.created
           td=target.target
           td=target.who
           td 
             if target.working == "noworking"
               a(id="start-task" href=`church/active/${target.id}`)
                 i(class="fas fa-play")
             else if target.working == "working"
               a(id="stop-task" href=`church/deactive/${target.id}`)
                 i(class="fas fa-stop")
             a(class='rmv-target' href=`church/rmv/${target.id}`)
               i(class="fas fa-times")          
    div(class="church-order")
      form(method='post' action="church/new")
        p
          input(placeholder="Powiat" type='text' name='target' value=body.target || '')
        p  
          input(placeholder="Darczyńca" type='text' name='who' value=body.who || '')        
        p
          input(class="btn btn-success btn-posting" type='submit' value='Zapłać kartą')  
          br
          span(class="btn btn-danger btn-cheat") Spróbuj oszukać Ojca Patryka  
    .cheat
      p A napisane jest w piśmie, że komu dać datek trudno, to zamiast bazy otrzyma dziś - 
        i(class="fas fa-poo") 
     
  script(src="/javascripts/church.js")    