extends layout

block content
   link(rel='stylesheet', href='/css/crm.min.css')     
   form(method='post')
     button(type='submit' class='logout-energy-btn') Wyloguj
   .energy-panel-wrapper
     include parts/chat
     include parts/chatWindow
     h1(class="energy-panel-wrapper__title") energy2000 Panel
     h2(class='energy-panel-wrapper__subtitle') Zalogowano jako 
       span= fullName 
     div(id='loginUser')=login 
     div(id='chatName')=chatName
       span(class='user-settings')
         i(class="fas fa-user-cog")
     include parts/crmTaskWindow
     .navigation
      .add-client-icon
        i(class="fas fa-user-plus add-client-icon__icon")
      .add-task-icon
        i(class="fas fa-tasks add-task-icon__icon" data-task='standard')
      .go-to-ofertomat-icon
        a(href="panel/ofertomat")
          i(class="fas fa-coins go-to-ofertomat-icon__icon")     
     .search
      select(class='search__select-option')
        option(value="nip") NIP
        option(value='name') Nazwa
        option(value='tel') Tel.
      input.searchTerm(type='text' autocomplete="off" placeholder='Wybierz z lewej po czym szukasz, NIP?')
      button.searchButton(type='submit')
        i.fa.fa-search
     div(class="chat-container")
       .chat-container__hide Chat
       .chat-container__message-container       
       form(method='post' action="/chat" class="send-container")
         input(type="text" class="send-container__input")
         button(type="submit" class="send-container__btn") 
           i(class="fas fa-paper-plane")  
     .user-settings-container
       i(class="fas fa-times-circle user-settings-container__close")
       h3.user-settings-container__title Ustawienia 
       button(class='user-settings-container__btn btn-change-password') Zmiana hasła
       button(class='user-settings-container__btn btn-change-email') Zmiana email
       button(class='user-settings-container__btn btn-change-phone') Zmiana telefonu  
       .change-data-password
         i(class="fas fa-times-circle change-data-password__close")
         span(class='change-data-password__description') Aktualne hasło
         input(id='actualPassword' class='change-data__input' placeholder='stare' type='password') 
         span(class='change-data-password__description') Nowe hasło
         input(id='newPassword' class='change-data__input' placeholder='nowe') 
         button(class='user-settings-container__btn btn-change-password btn-change-password-apply') Zmiana hasła 
         p(class='change-data-password__response') 
       .change-data-email
         i(class="fas fa-times-circle change-data-email__close")        
         span(class='change-data-password__description changed-email')=email
         input(id='actualPasswordEmail' class='change-data__input' placeholder='podaj hasło...' type='password') 
         span(class='change-data-password__description') Nowy email
         input(id='newEmail' class='change-data__input' placeholder='email') 
         button(class='user-settings-container__btn btn-change-password btn-change-email-apply') Zmiana email 
         p(class='change-data-email__response')       
       .change-data-phone
         i(class="fas fa-times-circle change-data-phone__close")
         span(class='change-data-password__description changed-phone')=phoneNumber
         input(id='actualPasswordPhone' class='change-data__input' placeholder='podaj hasło...' type='password') 
         span(class='change-data-password__description') Nowy telefon
         input(id='newPhone' class='change-data__input' placeholder='nowy tel...') 
         button(class='user-settings-container__btn btn-change-password btn-change-phone-apply') Zmiana tel. 
         p(class='change-data-phone__response')
     p(class='wallet-summary') Twój portfel:
       span  Przeliczam...
     .clients-wrapper
       .filter-div
         h1(class='filter-div__heading') Filtracja
         div(class='filter-div__wrapper')
           div
             label(for="whatFilter") Kategoria 
             select(id='category')
               option(value="nie wybrano") nie wybrano
               option(value="country") Gospodarstwa
               option(value="factory") Zakłady
               option(value="p5") P5
               option(value="partner") Inny partner
               option(value="mine") Inicjatywa
               option(value="brak-danych") Brak danych
               option(value="net") Internet   
               option(value="bazafirm") BazaFirm              
               option(value="olx") Olx  
               option(value="allegro") Allegro
               option(value="gumtree") Gumtree              
               option(value="google") Google 
           div     
             label(for="filterStatus") Status       
             select(id='filterStatus' name='filterStatus')
               option(value="nie wybrano") nie wybrano
               option(value="potencjalny") Potencjalny
               option(value="rezygnacja") Rezygnacja
               option(value="błąd bazy") Błąd bazy
               option(value="aktualny") Aktualny
               option(value="kontakt") Kontakt
               option(value="no") NO
               option(value="spotkanie") Spotkanie
               option(value="faktura") Faktura
               option(value="brak-danych") Brak danych
               option(value="inny") Inny 
           div 
             label(for="filterCity") Miasto
             input(type="text" name='filterCity' id='filterCity' placeholder='miasto')  
           button(class='filter-div__btn') Filtruj!    
           button(class='filter-div__btn-remove' id='removeFilters') Usuń filtr    
       .lds-roller
        div
        div
        div
        div
        div
        div
        div
        div     
       table(class='clients-table')
         tr
           th NIP
           th Nazwa
           th Telefon
           th Zużycie [MWH]
           th Status
           th Opiekun
       .doesnt-find-client
       include parts/crmAddClient
       include parts/crmTaskList
       include parts/crmTaskContainer
       include parts/crmChat
       form(action="/panel/update-client/" method='POST' class='particular-client')         
         i(class="fas fa-times-circle particular-client__close")
         .particular-client__div.particular-client__div-owner
           label(for="owner") Właściciel
           select(class='particular-client__par particular-client__owner' name='owner')
             option(value="damian.wasiak") Damian
             option(value="oleksii.tsymbaliuk") Oleksii
             option(value="mateusz.ziolkowski") Mateusz
             option(value="krystian.panek") Krystian
             option(value="aleksander.kruk") Aleksander
             option(value="default") Nieprzydzielony             
         .particular-client__div.particular-client__div-nip
           label(for="id") Nip
           input(class='particular-client__par particular-client__id' name='id')
         .particular-client__div
           label(for="name") Nazwa
           textarea(class='particular-client__par particular-client__name' name='name')
         .particular-client__div
           label(for="status") Status
           select(class='particular-client__select-status' name='status')
             option(value="potencjalny") Potencjalny
             option(value="rezygnacja") Rezygnacja
             option(value="błąd bazy") Błąd bazy
             option(value="aktualny") Aktualny
             option(value="kontakt") Kontakt
             option(value="no") NO
             option(value="spotkanie") Spotkanie
             option(value="faktura") Faktura
             option(value="brak-danych") Brak danych
             option(value="inny") Inny
         .particular-client__line-contact
           .particular-client__div
             label(for="phone") Telefon
             input(class='particular-client__par particular-client__phone' name='phone')
           .particular-client__div
             label(for="email") Email
             input(class='particular-client__par particular-client__email' name='email')
           .particular-client__div
             label(for="www") WWW
             input(class='particular-client__par particular-client__www' name='www')
           .particular-client__div
             label(for="consumption") Zużycie
             input(class='particular-client__par particular-client__consumption' name='consumption')
         .particular-client__line-adress
           .particular-client__div
             label(for="category") Kategoria
             select(class='particular-client__par particular-client__category' name='category')
              option(value="country") Gospodarstwa
              option(value="factory") Zakłady
              option(value="p5") P5
              option(value="partner") Inny partner
              option(value="mine") Inicjatywa
              option(value="brak-danych") Brak danych
              option(value="net") Internet              
              option(value="bazafirm") BazaFirm              
              option(value="olx") Olx 
              option(value="allegro") Allegro               
              option(value="gumtree") Gumtree              
              option(value="google") Google              
           .particular-client__div
             label(for="postalCode") Kod pocztowy
             input(class='particular-client__par particular-client__postal-code' name='postalCode')
           .particular-client__div
             label(for="city") Miasto
             input(class='particular-client__par particular-client__city' name='city')
           .particular-client__div
             label(for="street") Ulica
             input(class='particular-client__par particular-client__street' name='street')
           .particular-client__div
             label(for="streetNumber") Numer domu
             input(class='particular-client__par particular-client__street-number' name='streetNumber')
         button(class='particular-client__btn-tasks' type='button') Utwórz zadanie
         button(class='particular-client__btn-notes' type='button') Notatki         
         textarea(class='particular-client__description' name='description')
         .particular-client__update-info
         .particular-client__line-action-buttons
           input(class='particular-client__btn-summary particular-client__btn-update' type='submit' value='Zaktualizuj')
           button(class='particular-client__btn-summary particular-client__btn-cancel' type='button') Anuluj           
           button(class='particular-client__btn-summary particular-client__btn-delete' type='button') Usuń  
         include parts/crmNotes
         .confirm-remove
          p Czy napewno chcesz usunąć klienta?
          div
            button(class='confirm-remove__not-confirm' type='button') Nie       
            button(class='confirm-remove__confirm' type='button') Tak       
       .back-to-all
          button(class='back-to-all__btn') Powrót do listy
       .number-of-pages
       .pagination-crm  
         button(class='pagination-crm__prev') Poprzednia 
         .pagination-crm__set-page
           input(class='pagination-crm__input' type="text" placeholder='str')
           button(class='pagination-crm__btn') Go!
         button(class='pagination-crm__next') Następna            
   script(defer src="/javascripts/crmChangeUserData.js")  
   script(defer src="/javascripts/crmGetClients.js")  
   script(defer src="/javascripts/crmTuiCalendar.js")  
   //-  script(defer src="/javascripts/chat.js") 
       