extends layout

block content
  form(method='post')
    button(type='submit' class='logout-btn') Wyloguj
  h1(class='experts-heading') Eksperci - tabela
  div(class="experts-wrapper")
    table(class='experts-table')
      tr
          th Imię i naziwsko
          th Dzwoni
          th Nr tel.
          th Email
          th Rusza z 
          th Powiaty
          th Dodatkowe info
      each item in data        
        tr
          td=item.name
          td=item.whenToCall
          td=item.phoneNumber
          td=item.email
          td=item.starting
          td=item.regions
          td=item.extraInfo       