extends layout

block content
  link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet")
  form(method='post')
    button(type='submit' class='logout-btn') Wyloguj
  h1(class='table-heading') Aktualności  
  div(class="news-wrapper")   
    button(class="btn btn-success btn-add-post") Dodaj  
      i(class="fas fa-plus")
    div(class='post-news form-group')
      form(method='post' action="news/add")
        p
          input(placeholder="Do" type='text' name='target' value=body.target || '')
        p  
          input(placeholder="Tytuł" type='text' name='title' value=body.title || '')

        p
          textarea(placeholder="Treść" name='content')=body.content || ''
        p
          input(class="btn btn-success btn-posting" type='submit' value='Zapisz')  
          span(class="btn btn-danger btn-cancel-post") Anuluj    
    //- data już jest przekazana!      
    each post in data
      .post
        h4(class="post-target")=`<<< ${post.target} >>> ${post.title}` 
        p(class="time-par")=post.time       
        p(class="post-content")=post.content
        a(class='rmv-post' href=`news/rmv/${post.id}`) Usuń
    
  script(src="/javascripts/snow.js")     
  script(src="/javascripts/news.js")     