extends layout

block content
  form(method='post')
    button(type='submit' class='logout-btn') Wyloguj  
  div(class='wrapper')
    h3 Ofertomat v. 1.1   
    p(class="alert alert-danger") v. 1.1 Pozwala na edytowanie cen w bazie danych.  
    button(class="btn btn-dark show-price-change") Edycja cen 
    div
      label(for="tariff") Grupa taryfowa:  
      select(id="tariff")
        option(value="C11") C11
        option(value="C12a") C12a
        option(value="C12b") C12b
        option(value="C21") C21               
    div
      label(for="endOfAgreement") Kiedy kończy się umowa: 
      select(id="endOfAgreement")
        option(class="option-2021" value=2021) 2021
        option(class="option-2020" value=2020) 2020
        option(class="option-2019" value=9999) 9999
      //- input(id="endOfAgreement" value="2021")  
      
    
    .extra-tariff-wrapper.tariffc11-wrapper 
      p(class="tariff-wrapper-title-main") C11
      div
        label(for="priceNow") Cena aktualna klienta: 
        input(id="priceNow" type="text" placeholder="np. 382")       
      div
        label(for="priceInTariff") Cena w cenniku na 2022: 
        input(id="priceInTariff2022" type="text" placeholder="np. 300" value=data[0].tariff.price2022)
      div(class="when-option-2020")
        label(for="priceInTariff2021") Cena w cenniku na 2021: 
        input(id="priceInTariff2021" type="text" placeholder="np. 280" value=data[0].tariff.price2021)
      div(class="when-option-2019")
        label(for="priceInTariff2020") Cena w cenniku na 2020: 
        input(id="priceInTariff2020" type="text" placeholder="np. 274" value=data[0].tariff.price2020)   
    .extra-tariff-wrapper.tariffc12a-wrapper
      p(class="tariff-wrapper-title-main") C12a 
      .wrap-all-in-tariff
        .year2022-wrapper 
          p(class="tariff-wrapper-title") 2022 r. 
          div
            label Średnia 
            input(id="priceC12a2022Avr" type="text" placeholder="np. 300" value=data[1].tariff.price2022.avr)
          div
            label I strefa 
            input(id="priceC12a2022First" type="text" placeholder="np. 300" value=data[1].tariff.price2022.first)
          div
            label II strefa
            input(id="priceC12a2022Second" type="text" placeholder="np. 300" value=data[1].tariff.price2022.second)
        .year2021-wrapper 
          p(class="tariff-wrapper-title") 2021 r.
          div
            label Średnia 
            input(id="priceC12a2021Avr" type="text" placeholder="np. 300" value=data[1].tariff.price2021.avr)
          div
            label I strefa 
            input(id="priceC12a2021First" type="text" placeholder="np. 300" value=data[1].tariff.price2021.first)
          div
            label II strefa
            input(id="priceC12a2021Second" type="text" placeholder="np. 300" value=data[1].tariff.price2021.second)
        .year2020-wrapper 
          p(class="tariff-wrapper-title") 2020 r.
          div
            label Średnia 
            input(id="priceC12a2020Avr" type="text" placeholder="np. 300" value=data[1].tariff.price2022.avr)
          div
            label I strefa 
            input(id="priceC12a2020First" type="text" placeholder="np. 300" value=data[1].tariff.price2022.first)
          div
            label II strefa
            input(id="priceC12a2020Second" type="text" placeholder="np. 300" value=data[1].tariff.price2022.second)
    .extra-tariff-wrapper.tariffc12b-wrapper
      p(class="tariff-wrapper-title-main") C12b 
      .wrap-all-in-tariff
        .year2022-wrapper 
          p(class="tariff-wrapper-title") 2022 r. 
          div
            label Średnia 
            input(id="priceC12b2022Avr" type="text" placeholder="np. 300" value=data[2].tariff.price2022.avr)
          div
            label I strefa 
            input(id="priceC12b2022First" type="text" placeholder="np. 300" value=data[2].tariff.price2022.first)
          div
            label II strefa
            input(id="priceC12b2022Second" type="text" placeholder="np. 300" value=data[2].tariff.price2022.second)
        .year2021-wrapper 
          p(class="tariff-wrapper-title") 2021 r.
          div
            label Średnia 
            input(id="priceC12b2021Avr" type="text" placeholder="np. 300" value=data[2].tariff.price2021.avr)
          div
            label I strefa 
            input(id="priceC12b2021First" type="text" placeholder="np. 300" value=data[2].tariff.price2021.first)
          div
            label II strefa
            input(id="priceC12b2021Second" type="text" placeholder="np. 300" value=data[2].tariff.price2021.second)
        .year2020-wrapper 
          p(class="tariff-wrapper-title") 2020 r.
          div
            label Średnia 
            input(id="priceC12b2020Avr" type="text" placeholder="np. 300" value=data[2].tariff.price2022.avr)
          div
            label I strefa 
            input(id="priceC12b2020First" type="text" placeholder="np. 300" value=data[2].tariff.price2022.first)
          div
            label II strefa
            input(id="priceC12b2020Second" type="text" placeholder="np. 300" value=data[2].tariff.price2022.second) 
    .extra-tariff-wrapper.tariffc21-wrapper
      p(class="tariff-wrapper-title-main") C21         
      div
        label Cena 2022r.
        input(id="priceC212022" type="text" placeholder="np. 300" value=data[3].tariff.price2022)
      div
        label Cena 2021r.
        input(id="priceC212021" type="text" placeholder="np. 300" value=data[3].tariff.price2021)
      div
        label Cena 2020r.
        input(id="priceC212020" type="text" placeholder="np. 300" value=data[3].tariff.price2020)    
    div(class="intakec11c21")
      label(for="wear") Zużycie: 
      input(id="wear" type="text" placeholder="np. 18.3")
    div(class="intakec12ac12b")
      div
        label(for="wearFirst") Zużycie I strefa: 
        input(id="wearFirst" type="text" placeholder="np. 7.3")
      div
        label(for="wearSecond") Zużycie II strefa: 
        input(id="wearSecond" type="text" placeholder="np. 18.3")
      div
        label(for="wearSum") Zużycie suma: 
        input(id="wearSum" type="text" placeholder="wyliczę")
      
    div(class="propositionc11c21")
      label(for="proposePrice") Twoja propozycja: 
      input(id="proposePrice" type="text" placeholder="380")
    .propositionc12ac12b
      p(class="tariff-wrapper-title") Twoja propozycja:
      div
        label(for="proposePriceAvr") Średnia
        input(type="text" id="proposePriceAvr")
      div
        label(for="proposePriceFirst") I strefa
        input(type="text" id="proposePriceFirst")
      div
        label(for="proposePriceSecond") II strefa
        input(type="text" id="proposePriceSecond")
    div(class="btn-wrapper")  
      button(id="btnCalc" class="btn btn-success") Przelicz
    p(class="note") Notatka:     
    p(id="summaryCalc")
    .change-price-panel    
      h3(class="change-price-heading") Podaj cenę dla C11 na poszczególne lata:
      p(class="alert alert-danger") Pamiętaj, że zmiany są widoczne po odświeżeniu strony!
      form(action="panel/change-price/" method="post")
       div
        label(for="idPrice2022") Cena na 2022:
        input(id="idPrice2022" type="text" name="price2022" value=data[0].tariff.price2022)
       div
        label(for="idPrice2021") Cena na 2021:
        input(id="idPrice2021" type="text" name="price2021" value=data[0].tariff.price2021)
       div
        label(for="idPrice2020") Cena na 2020:
        input(id="idPrice2020" type="text" name="price2020" value=data[0].tariff.price2020)
       div
        input(id="changePriceBtn" class='btn btn-info' type="submit" value="OK")
       div(class="change-price-close")
         img(src="./images/close_cross.png", alt="")


  script(src="/javascripts/energaCalc.js") 
  script(src="/javascripts/smallparts/changepricepanel.js")
  script(src="/javascripts/smallparts/changetariffs.js")
  script(src="/javascripts/smallparts/calcc12a.js")
    

   
