extends layout

block content
  .stats-wrapper.container.container-fluid 
    h1(class="stats-heading") Statystyki    
    p(class="alert alert-success") Jeśli nie wiesz co oznacza status po prostu najedź na niego myszką =)
    .cases-wrapper
      each item in data
        div(class="stats-case"  id=`${item.name.toLowerCase()}`)
          span(class="case-ammount")=item.ammount
          span(class=`case-name case-name${item.id}`)=item.name 
          span(class="case-percent")=allRecords > 0 ? `${((item.ammount / allRecords)*100).toFixed(1)}%` : "0%" 
          span(class='case-description' data-show=`case-name${item.id}`)=item.description        
          .stats-generate
            form(class="add-form" action=`/stats/add/${item.id}/${item.ammount}`)
              button(class="stats-btn" type="submit") 
                i(class="fas fa-plus")
            form(class="reduce-form" action=`/stats/minus/${item.id}/${item.ammount}`)
              button(class="stats-btn" type="submit") 
                i(class="fas fa-minus")
      .sum-div
        h1(class="stats-heading") Podsumowanie
        p(class="sum-par sum-par-all") Przerobione kontakty: 
          span(class="stats-sum")=allRecords
        p(class="sum-par sum-not-answered") Brak rozmowy [NO + BB]:  
          span(class="stats-sum")=notAnsweredCalls 
          span(class="percent")=allRecords > 0 ? `${((notAnsweredCalls / allRecords)*100).toFixed(2)}%` : "0%"         
        p(class="sum-par sum-answered") Rozmowa [Pozostałe]:   
          span(class="stats-sum")=`${allRecords - notAnsweredCalls}`
          span(class="percent")=allRecords > 0 ? `${(((allRecords - notAnsweredCalls) / allRecords)*100).toFixed(2)}%` : "0%"  
        p(class="sum-par sum-answered") Pożądane [Mail + PD]:   
          span(class="stats-sum")=positiveEnd
          span(class="percent")=allRecords > 0 ? `${((positiveEnd / allRecords)*100).toFixed(2)}%` : "0%" 
        form(class="zero-form" action="/stats/zero-stats")
              button(class="btn btn-success" type="submit") Zeruj wyniki 
                i(class="fas fa-power-off")
        
    
   
  script(src="/javascripts/stats.js")   
