extends layout

block content
  .stats-wrapper.container.container-fluid 
    h1(class="stats-heading") Statystyki    
    p(class="alert alert-success") Jeśli nie wiesz co oznacza status po prostu najedź na niego myszką =)
    .cases-wrapper
      each item in data
        div(class="stats-case"  id=`${item.name.toLowerCase()}`)
          span(class="case-ammount")=item.ammount
          span(class=`case-name case-name${item.id}`)=item.name  
          span(class='case-description' data-show=`case-name${item.id}`)=item.description        
          .stats-generate
            form(action=`/stats/add/${item.id}/${item.ammount}`)
              button(class="stats-btn" type="submit") 
                i(class="fas fa-plus")
            form(action=`/stats/minus/${item.id}/${item.ammount}`)
              button(class="stats-btn" type="submit") 
                i(class="fas fa-minus")
      .sum-div
        h1(class="stats-heading") Podsumowanie
        p(class="sum-par sum-par-all") Przerobione kontakty: 
          span=allRecords
        p(class="sum-par sum-not-answered") Brak rozmowy [NO + BB]:  
          span=notAnsweredCalls          
        p(class="sum-par sum-answered") Rozmowa [Pozostałe]:   
          span=`${allRecords - notAnsweredCalls}`
        p(class="sum-par sum-answered") Pożądane [Mail + PD]:   
          span=positiveEnd
    
  script(src="/javascripts/snow.js")   
  script(src="/javascripts/stats.js")   
