extends layout

block content
  form(method='post')
    button(type='submit' class='logout-btn') Wyloguj
  h1(class='table-heading') E-Tablica
  div(class="table-wrapper")
    
    each item in dataMod     
      div(data-position=`${position++}` class=`${item.points > 0 && position == 0 ? "person winner" : "person"}`)
        img(data-position=`${position++}` src="/images/crown.png" class=`${item.points > 0 && position == 1 ? "crown" : "crown disabled"}`)
        span(class="points")=item.points
        p(class="name")=item.name
        div(class="pointsPanel")          
         a(href=`/panel/table/add/${item.id}/${item.points}` class="plus" data-operation="plus" data-id=item.id) +
         a(href=`/panel/table/minus/${item.id}/${item.points}` class="minus" data-operation="minus" data-id=item.id) -         
    div(class="sum")
      p(class="score-number")=`Suma: ${allScore}`
      //- stwórz byn który będzie miał w właściwości len dataMod.length ;)
    button(id="close-session-btn" class="close-session") Zamknij sesję
    div(class="confirm-close-session")
      p Czy jesteś pewna/-y, że chcesz zamknąć sesję? Spowoduje to wyzerowanie wyników na tablicy dobowej i przeniesienie ich do zestawień tygodniowych i miesięcznych. [wyświetlane będą już niebawem]
      a(class="close-session yes" href="table/close-session/") Potwierdzam
      buton(class="close-session no") Innym razem
  script(src="/javascripts/table.js")
        