extends layout

block content
  form(method='post')
    button(type='submit' class='logout-btn') Wyloguj
  h1(class='table-heading') E-Tablica
  div(class="party-time")
    p(class="time-to") Mikołajki za:
      span(class="days-party")
      span(class="hours-party")
      span(class="minutes-party")
  div(class="christmas-time")
    p(class="time-to") Święta za:
      span(class="days-christmas")
      span(class="hours-christmas")
      span(class="minutes-christmas")
  div(class="table-wrapper")
  
    each item in dataModDay     
      div(data-position=`${position++}` class=`${item.points > 0 && position == 0 ? "person winner" : "person"}`)
        img(data-position=`${position++}` src="/images/santa-hat.png" class=`${item.points > 0 && position == 1 ? "crown" : "crown disabled"}`)
        span(class="points")=item.points
        p(class="name")=item.name
        div(class="pointsPanel")          
         a(href=`/panel/table/add/${item.id}/${item.points}` class="plus" data-operation="plus" data-id=item.id) +
         a(href=`/panel/table/minus/${item.id}/${item.points}` class="minus" data-operation="minus" data-id=item.id) -         
    div(class="sum")
      p(class="score-number")=`Suma: ${allScore}`   
    button(id="close-session-btn" class="close-session btn btn-danger") Zamknij sesję
    div(class="confirm-close-session")
      p Czy jesteś pewna/-y, że chcesz zamknąć sesję? Spowoduje to wyzerowanie wyników na tablicy dobowej i przeniesienie ich do zestawień tygodniowych i miesięcznych. 
      form(action="table/close-session/")
        button(class="btn btn-success" type="submit") Potwierdzam       
      button(class="close-session no btn btn-danger") Innym razem
    div(class="confirm-close-session-week")
      p Czy jesteś pewna/-y, że chcesz zamknąć sesję tygodniową? Spowoduje to wyzerowanie wyników na tablicy tygodniowej.
      form(action="table/close-session-week/")
        button(class="btn btn-success" type="submit") Potwierdzam 
      button(class="close-session-week no btn btn-danger") Innym razem
    div(class="bell")
      img(src="/images/bell.png")
  div(class='table-old-wrapper')
    div(class='table-week table table-hover table-dark')
      h2 Tabela tygodniowa
      table
        tr
          th Imię i nazwisko
          th
            i(class="fas fa-handshake")
          th
            i(class="fas fa-coins")  (Netto)
        each item in dataModWeek
          tr
            td=item.name
            td=item.pointsWeek
            td=item.pointsWeek * 7
        tr
          td
          td
          td 
            button(id="close-session-btn-week" class="btn btn-danger") Zamknij sesję              
    div(class='table-month table table-hover table-dark')
      h2 Tabela miesięczna
      table
        tr
          th Imię i nazwisko
          th
            i(class="fas fa-handshake")
          th
            i(class="fas fa-coins")  (Netto)
        each item in dataModMonth
          tr
            td=item.name
            td=item.pointsMonth
            td=item.pointsMonth * 7
  script(src="/javascripts/table.js")
  script(src="/javascripts/christmas.js")
  script(src="/javascripts/snow.js") 
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
          