- var dataNumber = 4
h3(class="change-price-heading") Dla C22a:
 .wrap-change-price-c22a
         .wrap-all-in-tariff
          .year2023-wrapper 
            p(class="tariff-wrapper-title") 2023 r. 
            div
              label Średnia 
              input(name="pricec22a2023Avr" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.avr)
            div
              label I strefa 
              input(name="pricec22a2023First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.first)
            div
              label II strefa
              input(name="pricec22a2023Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.second)
          .year2022-wrapper 
            p(class="tariff-wrapper-title") 2022 r. 
            div
              label Średnia 
              input(name="pricec22a2022Avr" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.avr)
            div
              label I strefa 
              input(name="pricec22a2022First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.first)
            div
              label II strefa
              input(name="pricec22a2022Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.second)
          .year2021-wrapper 
            p(class="tariff-wrapper-title") 2021 r.
            div
              label Średnia2
              input(type="text" name="pricec22a2021Avr" placeholder="np. 300" value=data[dataNumber].tariff.price2021.avr)
            div
              label I strefa 
              input(name="pricec22a2021First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2021.first)
            div
              label II strefa
              input(name="pricec22a2021Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2021.second)          