- var dataNumber = 11
h3(class="change-price-heading") Dla G12w:
 .wrap-change-price-g12w
         .wrap-all-in-tariff
          .year2023-wrapper 
            p(class="tariff-wrapper-title") 2023 r. 
            div
              label Średnia 
              input(name="priceg12w2023Avr" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.avr)
            div
              label I strefa 
              input(name="priceg12w2023First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.first)
            div
              label II strefa
              input(name="priceg12w2023Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.second)
          .year2022-wrapper 
            p(class="tariff-wrapper-title") 2022 r. 
            div
              label Średnia 
              input(name="priceg12w2022Avr" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.avr)
            div
              label I strefa 
              input(name="priceg12w2022First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.first)
            div
              label II strefa
              input(name="priceg12w2022Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.second)
          .year2021-wrapper 
            p(class="tariff-wrapper-title") 2021 r.
            div
              label Średnia 
              input(type="text" name="priceg12w2021Avr" placeholder="np. 300" value=data[dataNumber].tariff.price2021.avr)
            div
              label I strefa 
              input(name="priceg12w2021First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2021.first)
            div
              label II strefa
              input(name="priceg12w2021Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2021.second)        