h3(class="change-price-heading") Dla C12b:
.wrap-change-price-c12b
        .wrap-all-in-tariff
          .year2023-wrapper 
            p(class="tariff-wrapper-title") 2023 r. 
            div
              label Średnia 
              input(id="priceC12b2022AvrChange" type="text" name="pricec12b2023Avr" placeholder="np. 300" value=data[2].tariff.price2023.avr)
            div
              label I strefa 
              input(id="priceC12b2023FirstChange" type="text" name="pricec12b2023First" placeholder="np. 300" value=data[2].tariff.price2023.first)
            div
              label II strefa
              input(id="priceC12b2023SecondChange" type="text" name="pricec12b2023Second" placeholder="np. 300" value=data[2].tariff.price2023.second)
          .year2022-wrapper 
            p(class="tariff-wrapper-title") 2022 r. 
            div
              label Średnia 
              input(id="priceC12b2022AvrChange" type="text" name="pricec12b2022Avr" placeholder="np. 300" value=data[2].tariff.price2022.avr)
            div
              label I strefa 
              input(id="priceC12b2022FirstChange" type="text" name="pricec12b2022First" placeholder="np. 300" value=data[2].tariff.price2022.first)
            div
              label II strefa
              input(id="priceC12b2022SecondChange" type="text" name="pricec12b2022Second" placeholder="np. 300" value=data[2].tariff.price2022.second)
          .year2021-wrapper 
            p(class="tariff-wrapper-title") 2021 r.
            div
              label Średnia 
              input(id="priceC12b2021AvrChange" type="text" name="pricec12b2021Avr" placeholder="np. 300" value=data[2].tariff.price2021.avr)
            div
              label I strefa 
              input(id="priceC12b2021FirstChange" type="text" name="pricec12b2021First" placeholder="np. 300" value=data[2].tariff.price2021.first)
            div
              label II strefa
              input(id="priceC12b2021SecondChange" type="text" name="pricec12b2021Second" placeholder="np. 300" value=data[2].tariff.price2021.second)
          .year2020-wrapper 
            p(class="tariff-wrapper-title") 2020 r.
            div
              label Średnia 
              input(id="priceC12b2020AvrChange" type="text" name="pricec12b2020Avr" placeholder="np. 300" value=data[2].tariff.price2020.avr)
            div
              label I strefa 
              input(id="priceC12b2020FirstChange" type="text" name="pricec12b2020First" placeholder="np. 300" value=data[2].tariff.price2020.first)
            div
              label II strefa
              input(id="priceC12b2020SecondChange" type="text" name="pricec12b2020Second" placeholder="np. 300" value=data[2].tariff.price2020.second)