- var dataNumber = 10
h3(class="change-price-heading") Dla G12:
 .wrap-change-price-g12
         .wrap-all-in-tariff
          .year2023-wrapper 
            p(class="tariff-wrapper-title") 2023 r. 
            div
              label Średnia 
              input(name="priceg122023Avr" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.avr)
            div
              label I strefa 
              input(name="priceg122023First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.first)
            div
              label II strefa
              input(name="priceg122023Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.second)
          .year2022-wrapper 
            p(class="tariff-wrapper-title") 2022 r. 
            div
              label Średnia 
              input(name="priceg122022Avr" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.avr)
            div
              label I strefa 
              input(name="priceg122022First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.first)
            div
              label II strefa
              input(name="priceg122022Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.second)
          .year2021-wrapper 
            p(class="tariff-wrapper-title") 2021 r.
            div
              label Średnia 
              input(type="text" name="priceg122021Avr" placeholder="np. 300" value=data[dataNumber].tariff.price2021.avr)
            div
              label I strefa 
              input(name="priceg122021First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2021.first)
            div
              label II strefa
              input(name="priceg122021Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2021.second)        