- var dataNumber = 7
h3(class="change-price-heading") Dla B22:
 .wrap-change-price-b22
         .wrap-all-in-tariff
          .year2023-wrapper 
            p(class="tariff-wrapper-title") 2023 r. 
            div
              label Średnia 
              input(name="priceb222023Avr" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.avr)
            div
              label I strefa 
              input(name="priceb222023First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.first)
            div
              label II strefa
              input(name="priceb222023Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2023.second)
          .year2022-wrapper 
            p(class="tariff-wrapper-title") 2022 r. 
            div
              label Średnia 
              input(name="priceb222022Avr" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.avr)
            div
              label I strefa 
              input(name="priceb222022First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.first)
            div
              label II strefa
              input(name="priceb222022Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2022.second)
          .year2021-wrapper 
            p(class="tariff-wrapper-title") 2021 r.
            div
              label Średnia 
              input(type="text" name="priceb222021Avr" placeholder="np. 300" value=data[dataNumber].tariff.price2021.avr)
            div
              label I strefa 
              input(name="priceb222021First" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2021.first)
            div
              label II strefa
              input(name="priceb222021Second" type="text" placeholder="np. 300" value=data[dataNumber].tariff.price2021.second)      