h3(class="change-price-heading") Dla C12a:
 .wrap-change-price-c12a
         .wrap-all-in-tariff
          .year2023-wrapper 
            p(class="tariff-wrapper-title") 2023 r. 
            div
              label Średnia 
              input(id="priceC12a2022AvrChange" name="pricec12a2023Avr" type="text" placeholder="np. 300" value=data[1].tariff.price2023.avr)
            div
              label I strefa 
              input(id="priceC12a2022FirstChange" name="pricec12a2023First" type="text" placeholder="np. 300" value=data[1].tariff.price2023.first)
            div
              label II strefa
              input(id="priceC12a2022SecondChange" name="pricec12a2023Second" type="text" placeholder="np. 300" value=data[1].tariff.price2023.second)
          .year2022-wrapper 
            p(class="tariff-wrapper-title") 2022 r. 
            div
              label Średnia 
              input(id="priceC12a2022AvrChange" name="pricec12a2022Avr" type="text" placeholder="np. 300" value=data[1].tariff.price2022.avr)
            div
              label I strefa 
              input(id="priceC12a2022FirstChange" name="pricec12a2022First" type="text" placeholder="np. 300" value=data[1].tariff.price2022.first)
            div
              label II strefa
              input(id="priceC12a2022SecondChange" name="pricec12a2022Second" type="text" placeholder="np. 300" value=data[1].tariff.price2022.second)
          .year2021-wrapper 
            p(class="tariff-wrapper-title") 2021 r.
            div
              label Średnia 
              input(id="priceC12a2021AvrChange" type="text" name="pricec12a2021Avr" placeholder="np. 300" value=data[1].tariff.price2021.avr)
            div
              label I strefa 
              input(id="priceC12a2021FirstChange" name="pricec12a2021First" type="text" placeholder="np. 300" value=data[1].tariff.price2021.first)
            div
              label II strefa
              input(id="priceC12a2021SecondChange" name="pricec12a2021Second" type="text" placeholder="np. 300" value=data[1].tariff.price2021.second)       